.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rba(0, 0, 0.5);
  z-index: 999;
  display: flex;

  /*align-items: center;
  justify-content: center; */
}
.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/Close-button.svg);
  border: none;
  background-color: transparent;
  background: no-repeat;
  background-size: contain;
  position: absolute;
  cursor: pointer;
}

.modal__heading {
  color: black;
}

.modal__button {
  color: black;
  cursor: pointer;
}
